body {
    display: flex;
    justify-content: center;
    background-image: url('Background/HopyBackground.png');
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease; /* Adicionando transição para suavizar a troca de imagens */
}

.input-container {
    margin-top: 1px;
    position: relative;
    width:100%;
    height: 57px;
    /* overflow: hidden; */
}

input {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.arrow {
    width: 20px;
    height: 30px;
    background-image: url('ShapeMount/SetaMount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
}

.yellow-area {
    position: absolute;
    top: 51%;
    left: 50%;
    width: 10px;
    height: 18px;
    background-color: #01F6C7;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.btn-reset{
    z-index: 6 !important;
    display: flex;
    position: relative;
    margin-top: 2%;
    left: 2%;
}

.btn-reset button {
    background: none;
    border: none;
    padding: 0;
}

.btn-reset button img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção */
    cursor: pointer;
    /* Adicione outros estilos conforme necessário */
}

.logo {
    position: relative;
    left: 42% !important;
    transform: translateX(-50%);
    z-index: 5;
}

.button-container {
    position: relative;
    display: inline-block;
}

.image-button {
    position: relative;
    z-index: 3;
    background: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

.button-image {
    position: absolute;
    top: -41px;
    left: -31%;
    width: 137%;
    height: 354%;
    z-index: 3;
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 1070px) {
    .png-overlay {
        position: fixed;
        top: 7%;
        left: 15% !important;
        /* transform: translate(-50%, -50%); */
        /* z-index: 1; */
        width: 64% !important;
    }
}

.png-overlay {
    position: fixed;
    top: 7%;
    left: 35%;
    /* transform: translate(-50%, -50%); */
    /* z-index: 1; */
    width: 28%;
}



footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 0px;
    display: inline-block;
    border: 2px solid #898989;
}

.dot.active {
    background-color: #e7e708;
}

.dots{
    right: -5%;
    position: relative;
    padding-top: 5%;
    margin-bottom: -6%;
    /* top: 9%; */
    z-index: 5;
}

.paddinglogo{
    padding-top: 4%;
}

.timer-container {
    height: 7px;
    width: 87%;
    margin: -5px 6px;
    background-color: #fff;
    border: 0px solid white;
    border-radius: 31px;
    overflow: hidden;
    text-align: left;
    z-index: 6;
    position: relative;
}

.timer {
    font-size: 8px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    border-radius: 0px;
    transition: width 1s linear, background-color 1s linear;
    width: 100%;
    background-color: gray !important;
}

.timercount{
    display: inline;
    position: relative;
    z-index: 6;
    left: 91%;
    padding-bottom: 0px;
    bottom: 8px;
}

.message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
}

.victory-message {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 241 113);
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    z-index: 10;
}

.error-message {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 0, 0);
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    z-index: 10;
}

.image-option:hover {
    border: 1px solid #fff; /* Adiciona a borda ao passar o mouse */
    padding: 2px; /* Opcional: aumenta o padding para a borda não cobrir a imagem */
}

.image-selection{
    margin-top: 10%;
    position: relative;
    padding: 4px;
    color: white;
    border-radius: 2px;
    border: 0px solid #1b5168;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 1.9);
    background-color: rgba(0,0,0,0.5);
    left: -8%;
    top: 0%;
}

.speed-selection {
    margin-top: 10%;
    position: relative;
    padding: 4px;
    color: white;
    border-radius: 2px;
    border: 0px solid #1b5168;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 1.9);
    background-color: rgba(0,0,0,0.5);
    left: -8%;
    top: 0%;
    text-align: center;
}

.speed-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.speed-option {
    background-color: #fff;
    border: none;
    padding: 8px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 13px;
}